*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

 img{width: 100%;}

.debug{
  border: 1px solid #95A0A2;
}

.conteiner{
  width: 70%;
  margin: auto;
}

header{
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 999;
}
  
header a{
  color: #707070;
}

header .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 5px;
}

header .img-lgo{
padding-top: 7px;
}

header .link-left{
  display: flex;
}

nav img{
  padding-top: 25px;
}

 ul .menu{
  text-decoration: none;
  height: 100%;
  padding: 30px 10px;
  margin: 0 5px;
}

 .menu:active{
  background-color: lightgray;
}

.logo .menu{
  border: 2px solid transparent;
}

.menu:hover{
  border-bottom: 2px solid black;
  border-radius: 3%;
}

.link-left ul, .link-right ul{
  display: flex;
  list-style: none;
}

header .inizia{ 
  margin-right: 10px;
  padding: 9px 17px;
  background-color: #0161FF;
  color: #D6E7FF;
  align-self: center;
  text-decoration: none;
  height: 100%;
}

.con-inizia{
  height: 82px;
  line-height: 80px;
  border: 2px solid transparent;
  border-radius: 3%;
}

.con-inizia:hover{
  border-bottom: 2px solid black;
}

.inizia:hover{
  background-color: rgb(27, 108, 248);
}

.inizia:active{
  background-color: rgb(0, 28, 94);
}

/* FINE HEADER  */

.jumbotron{
  margin-top: 80px;
  height: 500px;
  width: 100%;
  background-color: #B4D0E7;
  position: relative;
}

.jumbotron .title-conteiner{
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.5rem;
}


.jumbotron .conteiner-jumbo{
  margin: auto;
  width: 80%;
  display: flex; 
  justify-content: space-between;
  position: absolute;
  left: 10%;
  top: 35%;
}
 
.conteiner-jumbo .left-bo{
  width: 30%;
  padding: 0px 15px 0px 15px ;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.left-bo .text-bo{
  color: #26200D;
}

.left-bo .annulla{
  margin-left: 8px;
  margin-top: 15px;
  color: #26200D;
}

.conteiner-jumbo .arrow{
  display: block;
  margin-top: 25px;
  font-size: 2rem;
  color: #000000;
}

.left-bo .try{
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 25px;
  padding: 13px 15px;
  background-color: #0161FE;
  color: #DFEDFF;
}

.try:hover{
  background-color: rgb(27, 108, 248);
}

.try:active{background-color: rgb(0, 17, 92);}

.conteiner-jumbo .right-bo{
  width: 60%;
  align-self: flex-end;
}

#uno::before{
  content: '';
  display: block;
  height: 50px;
  margin: 50px 00;
}

/* FINE JUMBOTRON  */

.column{
  width: 70%;
  margin: 150px auto;

}

.column .buisness{
  font-size: 2rem;
  padding: 20px 0px;
}

.column .button{
  padding: 20px 0px;
  margin-bottom: 10px;
  display: flex;
}

.button .bottone{
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: 4px solid #0161FE;
}

.button-choice{
  color: #C1C2C2;
  font-size: 0.9rem;
}

.column .choice{
  display: flex;
  justify-content: space-between;
}

.choice-two{
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 4px solid lightgray;
}

.column .you{
  width: calc(100% / 3 - 5%);
}

.you .icon{
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  border-bottom: 1px solid #95A0A2;
}

.choice .conteiner-list{
  margin: 0 auto;
  width: 90%;
}

.conteiner-list .titolo{
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.conteiner-list .soldi{
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.conteiner-list .mese{
  color: #8C8B8C;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.first-list li i{
  margin: 0px 5px 0px 0px;
  color: #000000;
}

.first-list li{
  margin: 10px 0px 10px 5px;
  color: #4D5666;
  list-style: none;
}

.conteiner-list .versione-prova{
  display: block;
  margin: 20px 0px;
  padding: 12px;
  background-color: #0062FF;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.versione-prova:hover{
  background-color: rgb(27, 108, 248);
}

.versione-prova:active{background-color: rgb(0, 17, 92);}

.conteiner-list .opp{
  color: #8C8B8C;
  font-size: 0.8rem;
}

.conteiner-list  .buy{
  color: #4040F2;
  margin: 10px 2px;
}

.line{
  margin: 20px 0px;
  height: 10px;
  width: 20%;
  border-bottom: 1px solid #DCDBDD;
}

.bottom li i{
  color: #0D63FE;
}

.column .shop{
  margin-top: 50px;
  width: 100%;
}

.squad{
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  border-bottom: 1px solid #95A0A2;
}

.shop-conteiner{
  display: flex;
}

.shop-left{
  width: 75%;
  margin-left: 15px;
}

.shop-title{
  font-size: 1.9rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shop-subtitle{
  font-size: 1.1rem;
  color: #1E2228;
  margin-bottom: 25px;
}

.shop-p{
  color: #95A0A2;
  font-size: 0.9rem;
  padding-bottom: 30px;
}

.shop-right{
  width: 25%;
  text-align: center; 
}

.ufficio-vendite{
  display: block;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 15px;
  padding: 16px;
  background-color: #0D63FE;
  color: #FFFFFF;
}

.ufficio-vendite:hover{
  background-color: rgb(27, 108, 248);
}

.ufficio-vendite:active{background-color:rgb(0, 17, 92);}

/* FINE SEZIONE  COLONNE  */

.partner{
  display: flex;
  margin-bottom: 30px;
  margin-bottom: 100px;
}

.partner .foto{
  width: 60%;
}

.foto .partner-image{
 width: 100%;
}

.partner .text{
  width: 40%;
  height: 100%;
  padding: 50px;
}

.text .title-partnership{
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 30px;
}

.text .text-partnership{
  font-size: 1.1rem;
  color: #838383;
  margin-bottom: 50px;
}

.text .link-partner{
  padding: 16px;
  color: #201F1F;
  text-decoration: none;
  border: 1px solid #403F3F;
}

.link-partner:active{
  background-color: darkgray;
}

.link-partner:hover{color: lightgray;}

/* FINE SEZIONE PARTNER */

title-op{
  margin: 20px 0px;
}
.title-op h3{
  font-size: 2rem;
}

.operazione{
  margin-top: 50px;
}

.operazione .ope{
  width: calc(100% / 3 - 3%);
  margin-bottom: 20px;
  padding: 15px;
}

.ope .ope-subtitle{
  font-size: 1.5rem;
  margin: 5px 5px;
  padding: 5px 10px;
}

.ope .ope-p{
  font-size: 1.1rem;
  padding: 10px;
  color: #242A34;
}

.op-head{
  display: flex;
  justify-content: space-between;
}

/* FINE OPERAZIONI  */

.equip{
  margin-top: 50px;
  margin-bottom: 200px;
}

.equip .title-desc{
  width: 70%;
}

.title-desc .number{
  margin-bottom: 60px;
  font-size: 2rem;
}

/* FINE SOTTOTITOLO */

.compa{
  margin-top: 20px;
  width: 100%;
  margin: 20px auto;
  display: flex;

}

.left{
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
 
.square { 
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2em;
  padding-top: 20%;
  padding: 10px;
} 

.content-one {
  position: absolute;
  height: 100%;
  font-size: 0.9rem;
  padding-top: 20%;
  padding: 10px;
} 

.center{
  width: 40%;
  background-color: #F5F5F5;
  margin-bottom: 0;
}

.right{
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}


.one-1{fill: white; background-color: #A2D39B; border: 10px solid transparent;}

.one-1:active{
  border: 10px solid rgba(255, 255, 255, 0.5);
}


.two-2{fill: white; background-color: #62092B;border: 10px solid transparent;}

.two-2:active{
  border: 10px solid rgba(255, 255, 255, 0.5);
}


.left .three-3{fill:white; background-color: #FF6C31; width: 100%; height: 100% ;padding: 0; padding-top: 70px;border: 10px solid transparent;
filter: invert(1);}

.three-3:active{
  border: 10px solid rgba(00,00,00, 0.5);
}


.four-4{fill: white; background-color: #01E4E3;border: 10px solid transparent; filter: invert(1);}

.four-4:active{
  border: 10px solid rgba(00, 00, 00, 0.5);
}


.five-5{fill: white; background-color:#2CFFDF;border: 10px solid transparent; filter: invert(1);}

.five-5:active{
  border: 10px solid rgba(00, 00, 00, 0.5);
}


.six-6{fill: white; background-color:#B4D0E7;border: 10px solid transparent;}

.six-6:active{
  border: 10px solid rgba(255, 255, 255, 0.5);
}


.seven-7{fill: white; background-color:  #0D2481;border: 10px solid transparent;}

.seven-7:active{
  border: 10px solid rgba(255, 255, 255, 0.5);
}


.eith-8{fill: white; background-color:#FFD92F;border: 10px solid transparent;}

.eith-8:active{
  border: 10px solid rgba(255, 255, 255, 0.5);
}


.center img{
  margin-top: 20px;
  width: 20%;
  padding: 10px 15px;
}

.center .line{
  height: 5px;
  width: 20%;
  margin-left: 15px;
  border-bottom: 1px solid lightgray;
}

.center .par-centro{
  color: darkgrey;
  margin-left: 20px;
  width: 52%;
  height: 17%;
  overflow: auto;
  max-height: 18%;
  margin-bottom: 2px;
}

.par-centro .name{
  display: block;
  padding: 5px 0; 
}

/* FINE COMPANY  */

.prova{
  margin-top: -20px;
  height: 250px;
  width: 100%;
  background-color: #B4D0E7;
  display: flex;
  align-items: center;
}

.content-prova{
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.content-prova h3{
  font-size: 2rem;
  padding: 0px 0px;
  color: #62092B;
}

.content-prova .inizia-prova{
  padding: 14px 20px;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 0.9rem;
  color: #404040;
}

.content-prova .inizia-prova:hover{
  color: lightgray;
}

.content-prova .inizia-prova:active{
  background-color: darkgray;
}

/* FINE SCRITTA PUBBLICITA'  */

.frequenti{
  display: block;
  margin: 30px 10px;
  font-size: 2rem;
   padding: 40px;
   border-bottom: 1px solid black;
}

.conteiner-effect{
  margin: auto;
  margin-left: 50px;
  padding: 20px;
}

.title-effect{
  padding: 20px;
}


.effect{
  padding: 2px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.magic{display: none;}


.conteiner-effect i{
  color: #000000;
  display: block;
  font-size: 15px;
}

  .effect:hover .su{
    transition: transform 0.5s;
    transform: rotate(180deg);
}

.effect:hover .magic{
  display: block;
}

/* FINE DOMANDE E MAIN  */

.foot{
  width: 100%;
  height: 350px;
  background-color: #000000;
}

.foot .content-foot{
  margin: 10px auto;
  width: 80%;
  height: 260px;
  display: flex;
  justify-content:space-between;
}

.conteiners-foot{
  margin-top: 20px;
  width: calc(100% / 5 - 5%);
}

.conteiners-foot p{
  color: White;
  font-size: 0.9rem;
  margin: 20px 5px 0px 0px;
}

.conteiners-foot h3{
  color: #FFFEFE;
  font-size: 1.4rem;
  font-weight: bold;
}

.conteiners-foot a{
  text-decoration: none;
}

.conteiners-foot a:hover{
  text-decoration: underline;
  color: white;
}

.lingua{
  width: 80%;
  height: 10px;
  margin: 30px auto;
}

hr{
  width: 20%;
  border-color: #DFDFE6;
}

.ita  {
  margin-top: 20px;
  color: #999999;
  font-size: 0.9rem;
}

  .ita i{
  font-size: 0.9rem;
  }

.ita .triangle{
  font-size: 0.5rem;
  vertical-align: 30%;
}